<% @articles.each do |article| %>
  <% if is_showable(article, current_user) %>
    <h2 class="title"><%= link_to h(article.title), article %></h2>
    <p class="meta"><%=h article.user.login %> 写于 <%=h article.date.strftime("%Y年%m月%d日 %H:%M:%S") %></p>
    <div class="entry">
      <% if is_photo_exist(article) %>
        <%= image_tag article.photo.url %>
      <% end %>
      <p><%=  article.body%></p>

      <p class="links">
        <% if current_user and current_user.login == article.user.login %>
          <%= link_to '编辑', edit_article_path(article) %> |
          <%= link_to '删除', article, :confirm => '确认删除?', :method => :delete %> |
        <% end %>
        <span class="comments"><%= link_to '评论', article_comments_url(article) %> (<%= get_total_comments(article)%>)</span>
      </p>
    </div>
  <%  end %>
<% end %>