<h1>修改帐户</h1>


    <% form_for @user do |f| %>
        <%= f.error_messages %>
        <br/>
        <%= f.label  "密码" %><br />
        <%= f.password_field :password %><br />
        <br />
        <%= f.label "密码确认" %><br />
        <%= f.password_field :password_confirmation %><br />
        <%= f.submit "提交" %>
    <% end %>

<%= link_to '返回首页', articles_path %>
